* {
  margin: 0;
  padding: 0;
}
:root {
  --facebook: #3b5998;
  --white: #fff;
}

.wrap-all {
  display: flex; /*정렬을 편하기 하기위해 기본적으로 가로 정렬!*/
  justify-content: center;
  align-items: center; /*컨텐츠를 정중앙에 오도록 설정!*/
  flex-direction: column; /*컨텐츠를 세로로 설정!*/
}

.play-time {
  font-size: 3rem;
  margin-top: 2rem; /*(상단 여백)*/
  color: var(--facebook);
}

ul {
  margin-top: 1rem;
  list-style: none; /*항목 표시가 안됨*/
  border: 2px solid var(--facebook); /*테두리: 굵기 선스타일(실선) 파란색*/
  display: grid; /*항상 일정한 비율..*/
  grid-template-columns: repeat(4, 1fr); /*하나의 요소를 4번 반복 4x4*/
}
li {
  width: 100px; /*너비*/
  height: 100px; /*높음*/
  border: 1px solid red;
  color: #fff;
  /* float: left; 옆으로 간다. */
}

.start-button {
  background: var(--facebook);
  color: var(--white);
  border: none; /*테두리 지우기*/
  padding: 1rem 2rem;
  margin-top: 1rem;
}

.game-text {
  position: absolute; /*문서 상의 요소에 영향 받지 않음*/
  font-size: 45px;
  color: #67c23a;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5); /*텍스트 그림자효과 가로, 세로 0.5는 투명도*/
  display: none; /*특정한 조건에서만 보이게 하기위해 안보이게 설정*/
}
